
  li{
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    background-color: #EEE;
  }

  li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }


  li.selected {
    background-color:#363636;
    color: white;
  }