.classTrue{
    background-color: #363636 ;
    color: whitesmoke;
}

.classfalse{
    background-color: whitesmoke ;
    color: #363636;
}

li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }

  li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }